<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" [routerLink]="['/tabs/group-list']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{group.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="openPopoverMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="group-data">
      <div class="item-group-data">Nome: {{group.name}}</div>
    </div>

    <ion-list class="form-list">
      <form [formGroup]="groupForm" novalidate>
        <div class="form-item">
          <ion-item>
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nome do contato</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </div>
        <ion-button class="form-item" color="primary" (click)="addContact()">Adicionar</ion-button>
      </form>
    </ion-list>

    <div class="group-data">
      <div class="item-group-data">
        Thiago Silva Barros
        <ion-buttons slot="end">
          <ion-button slot="icon-only" (click)="removeContactConfirm()">
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div class="item-group-data">
        Lucas Emmanuel
        <ion-buttons slot="end">
          <ion-button slot="icon-only" (click)="removeContactConfirm()">
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div class="item-group-data">
        Weverson Barbosa
        <ion-buttons slot="end">
          <ion-button slot="icon-only" (click)="removeContactConfirm()">
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
