<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" [routerLink]="['/tabs/contact-list']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{contact.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="openPopoverMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="avatar-container flex-center">
      <img src="assets/image/profile-image.png" class="avatar" alt="" srcset="">
    </div>
    <div class="contact-data">
      <div class="item-contact-data">{{contact.name}}</div>

      <div class="item-contact-data" *ngFor="let contact of contact.contact">
        <a href="tel:+{{contact.number}}">{{contact.number}}</a>
        <ion-buttons slot="end" *ngIf="contact.whatsapp">
          <ion-button slot="icon-only">
            <a href="whatsapp://send?&phone=+55{{contact.number}}"></a>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div class="item-contact-data">
        <a href="mailto:{{contact.mail}}">{{contact.email}}</a>
        <ion-buttons slot="end">
          <ion-button slot="icon-only">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
