<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" [routerLink]="routerPath">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list class="form-list">
      <form [formGroup]="group" novalidate>
        <div class="form-item">
          <ion-item>
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nome do contato</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </div>
        <ion-button class="form-item" color="primary" (click)="handleSaveGroup()">Salvar</ion-button>
      </form>
    </ion-list>
  </div>
</ion-content>
